:root {
    --primary-color: #000000;
    --secondary-color: #f4f4f4;
    --accent-color: #378ae4;
    --text-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: var(--text-color);
    color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: var(--secondary-color);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: fixed;
    top: 10px;
    right: 10px;
    border: 5px solid var(--text-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#toggle-theme {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#toggle-theme:hover {
    background-color: #0056b3;
}

.dark-theme {
    --primary-color: #f4f4f4;
    --secondary-color: #333;
    --text-color: #333;
}